@model TransactionModel
@{
}

Detail page for account number @Model.AcctNumber

<table class="table table-striped">
    <tr>
        <td></td>
        <td>Beginning Balance</td>
        <td>@Model.BegBalance</td>
    </tr>
    @foreach(var t in Model.Transactions)
    {
        <tr>
            <td>@t.Date</td>
            <td>@t.Description</td>
            <td>@t.Amt</td>
        </tr>
    }
    <tr>
        <td></td>
        <td>Ending Balance</td>
        <td>@Model.EndBalance</td>
    </tr>

</table>